@import 'additional-styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--fz-color);
  font-family: "Grandstander", "Montserrat", sans-serif;
  padding: 20px 10px;
  background-color: var(--body-color);
  height: -moz-fit-content;
  height: fit-content;
}

button, a {
  cursor: pointer;
  font-family: inherit;
}
button:not([disabled=disabled]):hover, a:not([disabled=disabled]):hover {
  transition: color, background-color 180ms ease-in-out;
  color: var(--bg-color) !important;
  background-color: var(--fz-color) !important;
}
button:not([disabled=disabled]):active, a:not([disabled=disabled]):active {
  transition: transform 150ms ease-in-out;
  transform: scale(1.04);
}

a, a:focus, a:visited {
  color: var(--fz-color);
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* select */
.choices[data-type*=select-one]::after {
  border-color: var(--fz-color) transparent transparent;
}

.choices:hover[data-type*=select-one]::after {
  transition: border-color 180ms ease-in-out;
  border-color: var(--bg-color) transparent transparent !important;
}
.choices .choices__inner {
  font-size: 17px;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  min-height: 55px;
}
.choices .choices__inner:hover {
  transition: color, background-color 180ms ease-in-out;
  color: var(--bg-color);
  background-color: var(--fz-color);
}

.is-open .choices__inner {
  border-radius: 20px 20px 0 0;
}

.choices__list {
  width: 100%;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--fz-color);
  color: var(--bg-color);
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: var(--bg-color);
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border: none;
  border-radius: 0 0 20px 20px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one] .choices__input {
  display: none;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.burger-menu {
  z-index: 9999999;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 20%;
  height: 100vh;
  border-radius: 15px 0 0 15px;
  background-color: var(--bg-color);
}

.burger-menu li button {
  color: var(--bg-color);
  background-color: var(--fz-color) !important;
}

.burger-menu li button:hover {
  color: var(--fz-color) !important;
  background-color: var(--bg-color) !important;
}

.burger-menu li a {
  color: var(--bg-color) !important;
  background-color: var(--fz-color) !important;
}

.burger-menu li a:hover {
  color: var(--fz-color) !important;
  background-color: var(--bg-color) !important;
}

.burger-menu li .choices .choices__inner {
  color: var(--bg-color);
  background-color: var(--fz-color);
}

.burger-menu li .choices:hover .choices__inner {
  color: var(--fz-color);
  background-color: var(--bg-color);
}

.choices[data-type*="select-one"]::after {
  border-color: var(--bg-color) transparent transparent;
  transition: border-color 120ms ease-in-out;
}

.choices:hover[data-type*="select-one"]::after {
  border-color: var(--fz-color) transparent transparent !important;
}

.burger-menu li:not(:last-child) {
  margin-bottom: 20px;
}

.burger-menu .burger-menu__close-button {
  background: transparent !important;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.burger-menu__close-button svg ellipse {
  fill: var(--fz-color);
  transition: fill 120ms ease-in-out;
}

.burger-menu__close-button svg line {
  stroke: var(--bg-color);
  transition: stroke 120ms ease-in-out;
}

.burger-menu__close-button:hover svg ellipse {
  fill: var(--bg-color);
}

.burger-menu__close-button:hover svg line {
  stroke: var(--fz-color);
}

.burger-menu .burger-menu__close-button:hover {
  background: transparent !important;
}

.header__top-buttons-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 50px;
}

.top-buttons-list__list-item .choices {
  width: 140px;
}

.header__adaptive-buttons-list {
  display: none;
  flex-direction: column;
  margin-bottom: 50px;
}
.header__adaptive-buttons-list li {
  align-self: center;
  width: 50%;
}
.header__adaptive-buttons-list li button {
  width: 100%;
}

.adaptive-buttons-list__top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.adaptive-buttons-list__top-wrapper li {
  flex-basis: 46%;
}
.adaptive-buttons-list__top-wrapper li button, .adaptive-buttons-list__top-wrapper li div {
  width: 100% !important; 
}

.top-buttons-list__list-item {
  display: flex;
  align-items: center;
}
.top-buttons-list__list-item a {
  display: inline-block;
}

.top-buttons-list__list-item-button {
  color: var(--fz-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 29.26px;
  background-color: var(--bg-color);
  padding: 13px 15px;
  border-radius: 20px;
  border: none;
}

.links-list {
  z-index: 99999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 153px;
  min-height: 126px;
  background-color: var(--bg-color);
  opacity: 0.88;
  border-radius: 22px;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.25));
}
.links-list li {
  border-bottom: 1px solid var(--fz-color);
}
.links-list li:not(:last-child) {
  margin-bottom: 15px;
}
.links-list li a {
  font-size: 18px;
  font-weight: 400;
}

.what-do-wrapper {
  cursor: pointer;
  z-index: 1011;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 110px;
  min-height: 95px;
  background-color: var(--bg-color);
  opacity: 0.95;
  border-radius: 21px;
  left: 50%;
  transform: translateX(55px);
}
.what-do-wrapper * {
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
}
.what-do-wrapper *:not(:last-child) {
  margin-bottom: 20px;
}

.what-do-wrapper__black-arrow {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 5px;
}

.homework-window {
  z-index: 99999;
  position: absolute;
  background-color: var(--schedule-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.homework-window span {
  background-color: var(--bg-color);
  padding: 100px 210px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  font-weight: 60;
  line-height: 29px;
  z-index: 999;
}

.schedule-section__schedule-days-list {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--schedule-color);
  border-radius: 30px;
  padding-top: 40px;
}
.schedule-section__schedule-days-list ul li:not(:last-child) {
  border-bottom: 3px solid var(--fz-color);
}
.schedule-section__schedule-days-list ul {
  flex-basis: 16.6666666667%;
}

.schedule-days-list__day-list-item:not(:last-child) li:not(:first-child) {
  border-right: 1px solid var(--fz-color);
}

.day-list-item__title, .day-list-item__lesson-time {
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.day-list-item__title {
  cursor: pointer;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 3px solid var(--fz-color);
}

.day-list-item__lesson {
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 15px;
  word-break: break-word;
}

.day-list-item__lesson-time {
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--fz-color);
}

.day-list-item__lesson, .day-list-item__lesson-time {
  min-height: 80px;
}

.day-list-item__lesson-skip {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer__form-label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.footer__form-input {
  color: var(--fz-color);
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  background-color: var(--bg-color);
  border-radius: 15px;
  border: none;
  padding: 11.6px 15px;
  min-width: 300px;
  margin-right: 20px;
  transition-property: background-color, color, outline;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.footer__form-input:focus {
  background-color: var(--fz-color);
  color: var(--bg-color);
}

.footer__buttons-wrapper {
  margin-top: 45px;
}
.footer__buttons-wrapper button {
  color: var(--fz-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding: 15px 23px;
  background-color: var(--bg-color);
  border-radius: 25px;
  border: none;
}
.footer__buttons-wrapper button:not(:last-child) {
  margin-right: 70px;
}

.complete-lesson {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.lesson-panel-list {
  cursor: pointer;
  display: flex;
  z-index: 9999999;
  position: absolute;
  flex-direction: column;
  background-color: var(--bg-color);
  opacity: 0.88;
  max-width: 220px;
  padding: 5px 0;
  border-radius: 25px;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.25));
}

.lesson-panel-list__list-item {
  width: 100%;
  padding: 5px 15px;
}
.lesson-panel-list__list-item button {
  color: var(--fz-color);
  font-size: 18px;
  font-weight: 400;
  border: none;
  background: transparent;
}

.edit-time-wrapper {
  display: flex;
  position: relative;
  background-color: var(--bg-color);
  opacity: 0.9;
  border-radius: 21px;
  width: 212px;
  padding: 2px 15px;
  z-index: 9999999;
}

.edit-input {
  font-family: "Montserrat";
  display: block;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  border: none;
  width: 123px;
  margin-right: 15px;
}
.edit-input:focus {
  outline: none;
}

.edit-time-button {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 10px;
  background-color: var(--fz-color);
  border: none;
  border-radius: 50px;
}

.edit-time-wrapper .edit-time-button:hover {
  background-color: var(--bg-color) !important;
  color: var(--fz-color) !important;
}

.top-buttons-list__list-adaptive-item {
  display: none;
}

.day-list-item__desktop-wrapper {
  display: flex;
  width: 83.3333333333%;
  flex-basis: auto !important;
}
.day-list-item__desktop-wrapper ul {
  flex-basis: 20%;
}

.swiper {
  display: none;
  width: 100%;
  height: 100%;
}

.swiper-button-prev::after, .swiper-rtl {
  content: none;
}
.swiper-button-next::after, .swiper-rtl {
  content: none;
}
.full-schedule-list {
  display: none;
  background-color: var(--schedule-color);
  border-radius: 30px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.full-schedule-list ul {
  flex-basis: 16.6666666667%;
}
.full-schedule-list ul:not(:last-child) li:not(:first-child) {
  border-right: 1px solid var(--fz-color);
}
.full-schedule-list ul li:not(:last-child) {
  border-bottom: 1px solid var(--fz-color);
}

.schedule-buttons-wrapper {
  margin: 0 0 40px 43px;
}

.schedule-buttons-wrapper .schedule-button {
  cursor: pointer;
  background: transparent;
  border: none;
}
.schedule-buttons-wrapper .schedule-button:hover {
  background-color: transparent !important;
}

.schedule-button svg circle {
  fill: var(--bg-color);
  transition: fill 120ms ease-in-out
}

.schedule-button svg path {
  stroke: var(--fz-color);
  transition: stroke 120ms ease-in-out
}

.schedule-button:hover svg circle {
  fill: var(--fz-color);
}

.schedule-button:hover svg path {
  stroke: var(--bg-color);
}

.manage-list {
  cursor: pointer;
  z-index: 2222;
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 15px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.manage-list__amount-warning {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.manage-list__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.manage-list__add-title {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid var(--fz-color);
}

.manage-list__list-item {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.manage-list__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.manage-list__list-item:last-child {
  margin-bottom: 15px;
}

.manage-list__add-wrapper {
  position: relative;
}

.manage-list__backward {
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3333;
  position: absolute;
  top: 10px;
  right: 10px;
}

.manage-list__backward svg ellipse {
  fill: var(--fz-color);
  transition: fill 120ms ease-in-out;
}

.manage-list__backward svg line {
  stroke: var(--bg-color);
  transition: stroke 120ms ease-in-out;
}

.manage-list .manage-list__backward:hover {
  background: transparent !important;
}

.manage-list__backward:hover svg ellipse {
  fill: var(--bg-color);
}

.manage-list__backward:hover svg line {
  stroke: var(--fz-color);
}

.manage-list__add-input {
  color: var(--bg-color);
  font-family: inherit;
  font-size: 17px;
  background-color: var(--fz-color);
  border-radius: 15px;
  border: none;
  padding: 6.5px 5px;
}

.manage-list__add-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--fz-color);
  background-color: var(--bg-color);
  border-radius: 24px;
  border: none;
  padding: 0 8px;
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  right: 1px;
}

.is-active {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .lesson-panel-list__list-item {
    padding: 4px 10px;
  }
  .lesson-panel-list__list-item button {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .day-list-item__lesson {
    font-size: 15px;
  }
  .day-list-item__lesson-time {
    padding: 0 9px;
    font-size: 15px;
  }
  .day-list-item__title {
    font-size: 17px;
  }
  .top-buttons-list__list-item-button {
    font-size: 17px;
  }
  .footer__form-label {
    font-size: 16px;
  }
  .footer__form-input {
    font-size: 16px;
  }
  .footer__buttons-wrapper button {
    font-size: 16px;
    padding: 12px 18px;
  }
  .top-button-list__list-item-select-wrapper span {
    font-size: 16px;
  }
  .top-button-list__list-item-select-wrapper select {
    font-size: 16px;
  }
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  .day-list-item__lesson {
    padding: 0 11px;
  }
  .day-list-item__lesson, .day-list-item__lesson-time, .day-list-item__lesson-skip {
    min-height: 65px;
  }
  .top-buttons-list__list-item-button {
    font-size: 15px;
    padding: 9px 10px;
  }
  .edit-input {
    font-size: 16px;
  }
  .footer__form-input {
    min-width: 0;
    width: 50%;
    margin-top: 15px;
  }
  .footer__buttons-wrapper button:not(:last-child) {
    margin-right: 25px;
  }
  .footer__buttons-wrapper {
    margin-top: 30px;
  }
  .header__top-buttons-list {
    display: none;
  }
  .header__adaptive-buttons-list {
    display: flex;
  }
  .top-button-list__list-item-select-wrapper {
    display: flex;
    justify-content: center;
  }
  .swiper {
    display: block;
  }
  .schedule-section__schedule-days-list ul {
    flex-basis: 30%;
  }
  .choices .choices__inner {
    font-size: 15px;
    min-height: 47px;
  }
}
@media screen and (max-width: 576px) {
  .burger-menu {
    inset: 0;
  }
  .top-button-list__list-item-select-wrapper select {
    font-size: 14px;
  }
  .header__adaptive-buttons-list li button {
    font-size: 14px;
    font-weight: 500;
  }
  .top-button-list__list-item-select-wrapper span {
    font-size: 14px;
    font-weight: 500;
  }
  .header__adaptive-buttons-list li {
    width: 100%;
  }
  .schedule-section__schedule-days-list ul {
    flex-basis: 75%;
  }
  .footer__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__buttons-wrapper button {
    flex-basis: calc(50% - 13px);
    font-size: 15px;
    padding: 11px 15px;
    margin-bottom: 15px;
  }
  .footer__buttons-wrapper button:not(:last-child) {
    margin-right: 0;
  }
  .footer__buttons-wrapper button:not(:nth-child(2n)) {
    margin-right: 26px;
  }
  .edit-input {
    font-size: 13px;
    padding: 10px 12px;
  }
}/*# sourceMappingURL=styles.css.map */