@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
  src: url("/fonts/montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.woff") format("woff");
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.woff") format("woff");
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.woff") format("woff");
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Grandstander";
  font-weight: 700;
  src: url("/fonts/Grandstander-Bold.woff") format("woff");
  src: url("/fonts/Grandstander-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Grandstander";
  font-weight: 600;
  src: url("/fonts/Grandstander-SemiBold.woff") format("woff");
  src: url("/fonts/Grandstander-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Grandstander";
  font-weight: 500;
  src: url("/fonts/Grandstander-Medium.woff") format("woff");
  src: url("/fonts/Grandstander-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Grandstander";
  font-weight: 400;
  src: url("/fonts/Grandstander-Regular.woff") format("woff");
  src: url("/fonts/Grandstander-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-family: "Grandstander", "Montserrat", sans-serif;
  padding: 20px 10px;
  background-color: #FFDEFA;
  height: -moz-fit-content;
  height: fit-content;
}

button, a {
  font-family: inherit;
}
button:hover, a:hover {
  transition: color, background-color 180ms ease-in-out;
  color: #DC99F3 !important;
  background-color: #000 !important;
}
button:active, a:active {
  transition: transform 150ms ease-in-out;
  transform: scale(1.04);
}

a, a:focus, a:visited {
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* select */
.choices[data-type*=select-one]::after {
  border-color: #000 transparent transparent;
}

.choices:hover[data-type*=select-one]::after {
  transition: border-color 180ms ease-in-out;
  border-color: #DC99F3 transparent transparent !important;
}
.choices .choices__inner {
  font-size: 17px;
  display: flex;
  align-items: center;
  background-color: #DC99F3;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  min-height: 55px;
}
.choices .choices__inner:hover {
  transition: color, background-color 180ms ease-in-out;
  color: #DC99F3;
  background-color: #000;
}

.is-open .choices__inner {
  border-radius: 20px 20px 0 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #000;
  color: #DC99F3;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: #DC99F3;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border: none;
  border-radius: 0 0 20px 20px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one] .choices__input {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.burger-menu {
  z-index: 9999999;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0 0 0 30%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-color: #F1ACFC;
}
.burger-menu li:not(:last-child) {
  margin-bottom: 20px;
}

.burger-menu__close-button {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.burger-menu__close-button:hover {
  background: transparent !important;
}

.header__top-buttons-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 50px;
}
.header__top-buttons-list .top-buttons-list__list-item .choices .choices__inner {
  width: 128px;
}

.header__adaptive-buttons-list {
  display: none;
  flex-direction: column;
  margin-bottom: 50px;
}
.header__adaptive-buttons-list li {
  align-self: center;
  width: 50%;
}
.header__adaptive-buttons-list li button {
  width: 100%;
}

.adaptive-buttons-list__top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.adaptive-buttons-list__top-wrapper li {
  flex-basis: 46%;
}
.adaptive-buttons-list__top-wrapper li button, .adaptive-buttons-list__top-wrapper li div {
  width: 100%;
}

.top-buttons-list__list-item {
  display: flex;
  align-items: center;
}
.top-buttons-list__list-item a {
  display: inline-block;
}

.top-buttons-list__list-item-button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.26px;
  background-color: #DC99F3;
  padding: 13px 15px;
  border-radius: 20px;
  border: none;
}

.homework-window {
  position: absolute;
  background-color: rgba(224, 106, 243, 0.9803921569);
  width: 100%;
  height: 100%;
  inset: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.homework-window span {
  background-color: #F1ACFC;
  padding: 100px 210px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  font-weight: 60;
  line-height: 29px;
  z-index: 999;
}

.books-list-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 172, 252, 0.6666666667);
}

.books-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1ACFC;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  position: relative;
  outline: 2px solid rgba(218, 87, 238, 0.768627451);
}
.books-list li {
  font-size: 18px;
  font-weight: 500;
  width: 80%;
}
.books-list li a {
  font-weight: 400;
}
.books-list li:not(:last-child) {
  margin-bottom: 10px;
}

.books-list__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.books-list__close-button:hover {
  background: transparent !important;
}

.schedule-section__schedule-days-list {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  background-color: rgba(220, 153, 243, 0.66);
  border-radius: 30px;
  padding-top: 40px;
}
.schedule-section__schedule-days-list ul li:not(:last-child) {
  border-bottom: 3px solid #000;
}
.schedule-section__schedule-days-list ul {
  flex-basis: 16.6666666667%;
}

.schedule-days-list__day-list-item:not(:last-child) .day-list-item__lesson {
  border-right: 1px solid #000;
}

.day-list-item__title, .day-list-item__lesson-time {
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.day-list-item__title {
  cursor: pointer;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 3px solid #000;
}

.day-list-item__lesson {
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 15px;
  word-break: break-word;
}

.day-list-item__lesson-time {
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid #000;
}

.day-list-item__lesson, .day-list-item__lesson-time {
  min-height: 80px;
}

.day-list-item__lesson-skip {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-right: 1px solid #000;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer__form-label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.footer__form-input {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  background-color: rgba(220, 153, 243, 0.97);
  border-radius: 15px;
  border: none;
  padding: 11.6px 15px;
  min-width: 300px;
  margin-right: 20px;
  transition-property: background-color, color, outline;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.footer__form-input:focus {
  background-color: #000;
  color: rgba(220, 153, 243, 0.97);
  outline: 2px solid rgba(220, 153, 243, 0.87);
}

.footer__buttons-wrapper {
  margin-top: 45px;
}
.footer__buttons-wrapper button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding: 15px 23px;
  background-color: #DC99F3;
  border-radius: 25px;
  border: none;
}
.footer__buttons-wrapper button:not(:last-child) {
  margin-right: 70px;
}

.complete-lesson {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.edit-time-input {
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  border: none;
  width: 260px;
  border-radius: 12px;
  position: absolute;
  padding: 11px 20px;
  background-color: rgba(237, 147, 223, 0.9333333333);
  z-index: 9999999;
}
.edit-time-input:focus {
  outline: none;
}

.top-button-list__list-item-select-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  background-color: #DC99F3;
  border-radius: 20px;
  transition: transform 100ms ease-in-out;
  transition: background-color, color 180ms ease-in-out;
}
.top-button-list__list-item-select-wrapper:hover {
  background-color: #000;
  color: #DC99F3;
}
.top-button-list__list-item-select-wrapper:hover select {
  color: #DC99F3;
}
.top-button-list__list-item-select-wrapper:active {
  transform: scale(1.04);
}
.top-button-list__list-item-select-wrapper span {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}
.top-button-list__list-item-select-wrapper select {
  transition: color 150ms ease-in-out;
  background-color: #000;
  font-size: 17px;
  font-family: inherit;
  font-weight: 500;
  background: transparent;
  border: none;
}
.top-button-list__list-item-select-wrapper select option {
  font-size: 17px;
}

.top-buttons-list__list-adaptive-item {
  display: none;
}

.day-list-item__desktop-wrapper {
  display: flex;
  width: 83.3333333333%;
  flex-basis: auto !important;
}
.day-list-item__desktop-wrapper ul {
  flex-basis: 20%;
}

.swiper {
  display: none;
  width: 100%;
  height: 100%;
}

.swiper-button-prev::after, .swiper-rtl {
  content: none;
}
.swiper-button-next::after, .swiper-rtl {
  content: none;
}
.full-schedule-list {
  display: none;
  background-color: rgba(220, 153, 243, 0.66);
  border-radius: 30px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.full-schedule-list ul {
  flex-basis: 16.6666666667%;
}
.full-schedule-list ul:not(:last-child) .day-list-item__lesson {
  border-right: 1px solid #000;
}
.full-schedule-list ul li:not(:last-child) {
  border-bottom: 1px solid #000;
}

.is-active {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .day-list-item__lesson {
    font-size: 15px;
  }
  .day-list-item__lesson-time {
    padding: 0 9px;
    font-size: 15px;
  }
  .day-list-item__title {
    font-size: 17px;
  }
  .top-buttons-list__list-item-button {
    font-size: 17px;
  }
  .footer__form-label {
    font-size: 16px;
  }
  .footer__form-input {
    font-size: 16px;
  }
  .footer__buttons-wrapper button {
    font-size: 16px;
    padding: 12px 18px;
  }
  .top-button-list__list-item-select-wrapper span {
    font-size: 16px;
  }
  .top-button-list__list-item-select-wrapper select {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  .day-list-item__lesson {
    padding: 0 11px;
  }
  .day-list-item__lesson, .day-list-item__lesson-time, .day-list-item__lesson-skip {
    min-height: 65px;
  }
  .top-buttons-list__list-item-button {
    font-size: 15px;
    padding: 9px 10px;
  }
  .edit-time-input {
    font-size: 16px;
  }
  .footer__form-input {
    min-width: 0;
    width: 50%;
    margin-top: 15px;
  }
  .footer__buttons-wrapper button:not(:last-child) {
    margin-right: 35px;
  }
  .footer__buttons-wrapper {
    margin-top: 30px;
  }
  .header__top-buttons-list {
    display: none;
  }
  .header__adaptive-buttons-list {
    display: flex;
  }
  .top-button-list__list-item-select-wrapper {
    display: flex;
    justify-content: center;
  }
  .swiper {
    display: block;
  }
  .schedule-section__schedule-days-list ul {
    flex-basis: 30%;
  }
  .choices .choices__inner {
    font-size: 15px;
    min-height: 47px;
  }
}
@media screen and (max-width: 576px) {
  .burger-menu {
    inset: 0;
  }
  .top-button-list__list-item-select-wrapper select {
    font-size: 14px;
  }
  .header__adaptive-buttons-list li button {
    font-size: 14px;
    font-weight: 500;
  }
  .top-button-list__list-item-select-wrapper span {
    font-size: 14px;
    font-weight: 500;
  }
  .header__adaptive-buttons-list li {
    width: 100%;
  }
  .schedule-section__schedule-days-list ul {
    flex-basis: 75%;
  }
  .footer__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__buttons-wrapper button {
    flex-basis: calc(50% - 13px);
    font-size: 15px;
    padding: 11px 15px;
    margin-bottom: 15px;
  }
  .footer__buttons-wrapper button:not(:last-child) {
    margin-right: 0;
  }
  .footer__buttons-wrapper button:not(:nth-child(2n)) {
    margin-right: 26px;
  }
  .edit-time-input {
    font-size: 13px;
    padding: 10px 12px;
  }
}/*# sourceMappingURL=styles.css.map */